@font-face {
  font-family: "SVN-Gilroy";
  font-display: swap;
  src: url("../webfonts/SVN-Gilroy-Regular.otf") format("woff2");
}
@font-face {
  font-family: "SVN-Gilroy-Bold";
  font-display: swap;
  src: url("../webfonts/SVN-Gilroy-Bold.otf") format("woff2");
}
.truncate-h {
  overflow: hidden;
  word-break: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

[data-line="2"] {
  -webkit-line-clamp: 2;
}

[data-line="3"] {
  -webkit-line-clamp: 3;
}

[data-line="4"] {
  -webkit-line-clamp: 4;
}

a, img, span {
  transition: 0.3s all;
}

.field-validation-error {
  color: red;
}

a:hover {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  color: #4C503D;
  background: #fff;
  font-family: "SVN-Gilroy", sans-serif;
}
@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

.ul-reset, .ul-block {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ul-reset {
  display: flex;
}

.ul-block {
  display: block;
}

.title-global {
  font-size: 20px;
  text-transform: uppercase;
  font-family: "SVN-Gilroy-Bold", sans-serif;
}

.container {
  max-width: 1230px;
}

button:focus, input:focus {
  outline: none;
  box-shadow: none;
}

img {
  max-width: 100%;
  height: auto;
}

.row-gutter-10 {
  margin-right: -10px;
  margin-left: -10px;
}
.row-gutter-10 > .col,
.row-gutter-10 > [class*=col-] {
  padding-right: 10px;
  padding-left: 10px;
}

.row-gutter-5 {
  margin-right: -5px;
  margin-left: -5px;
}
.row-gutter-5 > .col,
.row-gutter-5 > [class*=col-] {
  padding-right: 5px;
  padding-left: 5px;
}

.section-title {
  position: relative;
  font-size: 1.5rem;
  color: #4C503D;
  text-transform: uppercase;
  font-family: "SVN-Gilroy-Bold", sans-serif;
}
.section-title::before {
  position: absolute;
  content: "";
  width: 28px;
  height: 28px;
  background-image: url("images/before-section-title.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  top: 0;
  right: -32px;
}
.section-title::after {
  position: absolute;
  content: "";
  width: 28px;
  height: 28px;
  background-image: url("images/before-section-title.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  top: 0;
  transform: scaleX(-1);
  left: -32px;
}

/* header-css  */
.top-header {
  background: #719A16;
  font-size: 14px;
  padding: 9px 0;
  display: none;
}
.top-header a {
  color: #fff;
}
.top-header .left i {
  margin-right: 6px;
}
.top-header .left a:first-child {
  padding-right: 15px;
  margin-right: 15px;
  border-right: 1px solid #fff;
}

.header-social li {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #719A16;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
}
.header-social li i {
  font-size: 14px;
  color: #719A16;
}

.header-logo {
  height: 62px;
}
.header-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.header-social {
  display: flex;
}
.header-search {
  width: 620px;
  position: relative;
}
.header-search input {
  border: 1px solid #E9ECEF;
  border-radius: 19.5px;
  padding-right: 40px;
  font-size: 14px;
}
.header-search input:focus {
  box-shadow: unset;
}
.header-search input::placeholder {
  color: #ADADAD;
}
.header-search button {
  background: transparent;
  border: none;
  color: #719A16;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.header-menu {
  background-color: #719A16;
  background-image: url("images/bg-menu.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.menu-list {
  display: flex;
  justify-content: space-between;
  /*width:70%;*/
}
.menu-list > li {
  padding: 14px;
}
.menu-list a {
  color: #fff;
  font-family: "SVN-Gilroy-Bold", sans-serif;
}

.megaMenu {
  position: absolute;
  z-index: 2;
  top: 100%;
  left: 15px;
  width: 100%;
  background: red;
  /*.megaMenu_title > ul {
      position:absolute;
  }*/
  /*.product-menu {
      position: absolute;
      top: 0;
      left: 100%;
      height: 100%;
      background: #fff;
      box-shadow: 0 2px 1px 0 rgb(0 0 0 / 25%);*/
  /*width: 300%;*/
  /*padding: 10px;
      transform-origin: left center;
      transition: all .35s ease-in-out;
      margin: 0;
      padding: 0;
      list-style: none;
  }*/
}

.menu-list > li:hover .menu-child {
  display: flex;
}

.menu-child {
  position: absolute;
  z-index: 2;
  top: 100%;
  left: 0px;
  width: 100%;
  background: #fff;
  display: none;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  z-index: 99;
  min-height: 366px;
}
.menu-child .category-child {
  padding: 10px 10px;
  border-bottom: 1px solid #ccc;
}
.menu-child .category-child a {
  color: #4C503D;
}
.menu-child .category-child.text-bold {
  background: rgba(115, 129, 54, 0.2);
}
.menu-child .category-child.bold {
  background: rgba(115, 129, 54, 0.2);
}
.menu-child .category-child.no-bold {
  background: #fff;
}
.menu-child .category-child.text-bold a {
  color: #719A16;
}
.menu-child .category-child.no-bold a {
  color: #4C503D !important;
}
.menu-child .category-child.bold a {
  color: #719A16 !important;
}
.menu-child .megaMenu_title {
  width: 270px;
  /*border-right:*/
}
.menu-child .product-menu {
  width: 100%;
  position: relative;
  border-left: 1px solid rgba(115, 129, 54, 0.2);
  padding-top: 5px;
}
.menu-child .product-menu ul {
  display: none;
  width: 100%;
  position: relative;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
  /*position:absolute;*/
}
.menu-child .product-menu ul > li {
  width: 20%;
  padding: 0 5px;
}
.menu-child .product-menu ul > li .product-item {
  padding: 15px;
  margin-bottom: 50px;
}
.menu-child .product-menu ul > li .product-item .new-price {
  font-size: 16px;
}
.menu-child .product-menu ul .header-see-all {
  position: absolute;
  left: 5px;
  bottom: 0;
  background: rgba(230, 126, 34, 0.4);
  color: #4c503d;
  font-size: 15.5px;
  font-weight: 700;
  padding: 10px 15px;
  text-align: center;
  width: 100%;
}
.menu-child .product-menu ul .header-see-all a {
  display: block;
  color: #4C503D;
}
.menu-child .product-menu .no-active {
  display: none !important;
}
.menu-child .product-menu .active {
  display: flex !important;
}

.header-cart {
  color: #000;
}
.header-cart i {
  font-size: 24px;
}
.header-cart span {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: red;
  border-radius: 50%;
  top: -8px;
  right: -8px;
  font-size: 11px;
  color: #fff;
}

.category-article-menu {
  display: flex;
}
.category-article-menu > li {
  padding: 14px;
  position: relative;
}
.category-article-menu > li:hover ul {
  transform: scaleY(1);
  opacity: 1;
}
.category-article-menu > li ul {
  position: absolute;
  left: -20px;
  top: 100%;
  z-index: 2;
  width: 220px;
  background: #719A16;
  opacity: 1;
  transform-origin: top center;
  transform: scaleY(0);
  transition: all 0.35s ease-in-out;
}
.category-article-menu > li ul li {
  padding: 10px;
}
.category-article-menu a {
  color: #fff;
  font-family: "SVN-Gilroy-Bold", sans-serif;
}

/* banner-css  */
.banner-list > img:not(:first-child) {
  display: none;
}

.banner-list img {
  width: 100%;
  aspect-ratio: 2;
  object-fit: cover;
}
.banner-list .slick-dots {
  display: flex !important;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  padding: 0;
}
.banner-list .slick-dots li {
  margin-left: 10px;
}
.banner-list .slick-dots .slick-active button {
  background: #719A16;
}
.banner-list .slick-dots button {
  background: #fff;
  color: transparent;
  width: 12px;
  height: 12px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid #fff;
}

/* service-css  */
.service {
  background-color: #719A16;
  background-image: url(images/bg-service.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 13px 0;
}
.service-item {
  display: flex;
  align-items: center;
}
.service-item .content {
  padding-left: 20px;
}
.service-item img {
  max-width: 59px;
  flex-shrink: 0;
}
.service-item .name {
  color: #FFA500;
  font-family: "SVN-Gilroy-Bold", sans-serif;
}
.service-item .des {
  font-size: 15px;
  color: #fff;
  /*@include SVN-Gilroy-Bold;*/
}

.banner-product-hot {
  padding: 15px 0;
}
.banner-product-hot img {
  width: 100%;
  height: 14vw;
}

/* section-product-css  */
.section-product {
  padding-top: 30px;
}
.section-product .section-title {
  margin-bottom: 30px;
}

.product-list {
  padding: 20px 0;
}
.product-list .slick-list.draggable {
  margin: -15px;
}
.product-list .slick-slide {
  padding: 0 15px;
}
.product-list .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  color: #E3E6D7;
  z-index: 80;
}
.product-list .slick-arrow:hover {
  color: #719A16;
}
.product-list .slick-next {
  right: -20px;
}
.product-list .slick-prev {
  left: -20px;
}

.product-item {
  border: 1px solid #E9ECEF;
  border-radius: 10px;
  padding: 30px 20px;
  position: relative;
  margin-bottom: 20px;
}
.product-item:hover {
  box-shadow: 1px 1px 10px rgba(115, 129, 54, 0.2);
}
.product-item .img {
  position: relative;
  overflow: hidden;
}
.product-item .img:hover .icon {
  left: 50%;
}
.product-item img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: contain;
}
.product-item .body {
  padding-top: 15px;
}
.product-item .body .name a {
  color: #363C05;
  font-weight: 600;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  height: 45px;
}
.product-item .body .price {
  margin: 8px 0;
  display: flex;
  align-items: end;
  flex-wrap: wrap;
}
.product-item .body .new-price {
  color: #D35400;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: "SVN-Gilroy-Bold", sans-serif;
}
.product-item .body .old-price {
  text-decoration: line-through;
  padding-left: 15px;
  color: #778899;
  font-size: 14px;
}
.product-item .body .star i {
  color: #FEDA00;
  margin-right: 4px;
  font-size: 13px;
}
.product-item .tag {
  top: 15px;
  left: 0;
  position: absolute;
}
.product-item .icon {
  position: absolute;
  top: 50%;
  left: -100px;
  transform: translate(-50%, -50%);
  display: flex;
  transition: 0.3s all ease-in;
}
.product-item .icon a {
  color: #fff;
  width: 41px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-item .icon .add-checkout {
  opacity: 0.8;
  background: #334455;
  border-radius: 50%;
  margin-right: 8px;
}
.product-item .icon .add-cart {
  background: #719A16;
  border-radius: 50%;
  opacity: 0.8;
}
.product-item .tag-new {
  background: #C8232C;
  border-radius: 0px 5px 5px 0px;
  font-size: 0.875rem;
  padding: 1px 10px 3px 15px;
  color: #fff;
  margin-bottom: 5px;
}
.product-item .tag-discout {
  background: #719A16;
  border-radius: 0px 5px 5px 0px;
  font-size: 0.875rem;
  padding: 1px 10px 3px 10px;
  color: #fff;
}

.section-product-img {
  width: 100%;
  margin-bottom: 20px;
}

/* new-css  */
.new-slider .slick-list.draggable {
  margin: 0 -15px;
  padding-bottom: 20px;
}
.new-slider .slick-slide {
  padding: 0 15px;
}
.new-slider .slick-arrow {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 36px;
  background: #FFFFFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  transform: translateY(-50%);
  z-index: 80;
  cursor: pointer;
}
.new-slider .slick-arrow i {
  color: #719A16;
}
.new-slider .slick-next {
  right: 0;
  transform: translate(50%, -50%);
}
.new-slider .slick-prev {
  left: 0;
  transform: translate(-50%, -50%);
}

.news-item {
  background: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 0px 0px 0px 20px;
}
.news-item img {
  width: 100%;
  aspect-ratio: 2;
  object-fit: cover;
}
.news-item .body {
  padding: 19px 30px 30px;
}
.news-item .body .date {
  font-size: 14px;
  margin-bottom: 12px;
  color: #334455;
}
.news-item .body .name {
  font-size: 1.25rem;
  margin-bottom: 12px;
  font-family: "SVN-Gilroy-Bold", sans-serif;
}
.news-item .body .name a {
  color: #4C503D;
  line-height: 1.1;
  height: 42px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.news-item .body .des {
  height: 63px;
  font-size: 0.875rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.new-col {
  padding: 22px 32px;
  background: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0px 20px 0px 0px;
  margin-bottom: 10px;
}
.new-col .date {
  color: #334455;
  font-size: 14px;
  margin-bottom: 10px;
}
.new-col a {
  color: #4C503D;
  height: 48px;
  font-family: "SVN-Gilroy-Bold", sans-serif;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

/* feedback-css  */
.feedback {
  padding-top: 46px;
  padding-bottom: 74px;
  background-image: url("images/feedback-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.feedback .title {
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 600;
  /*@include SVN-Gilroy-Bold;*/
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 40px;
}
.feedback-list .slick-list.draggable {
  margin: 0 -15px;
  padding-top: 30px;
}
.feedback-list .slick-slide {
  padding: 0 15px;
}
.feedback-list > .feedback-item:not(:first-child) {
  display: none;
}
.feedback-list .slick-dots {
  display: flex !important;
  position: absolute;
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  padding: 0;
}
.feedback-list .slick-dots li {
  margin-left: 10px;
}
.feedback-list .slick-dots .slick-active button {
  background: #719A16;
}
.feedback-list .slick-dots button {
  background: #fff;
  color: transparent;
  width: 12px;
  height: 12px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid #fff;
}
.feedback-item {
  padding: 0 27px 27px;
  background: #FFFFFF;
  border-radius: 5px;
  border-bottom: 5px solid #697537;
}
.feedback-item .avata {
  margin-top: -26px;
  text-align: center;
  margin-bottom: 14px;
}
.feedback-item .name {
  text-align: center;
  font-weight: 600;
}
.feedback-item img {
  display: inline-block;
  width: 92px;
  height: 92px;
  border-radius: 50%;
}
.feedback-item .des {
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  height: 168px;
}

/*partner-css*/
.partner {
  padding-top: 35px;
}
.partner-list {
  max-width: 1100px;
  margin: 0 auto;
}
.partner .slick-list.draggable {
  margin: 0 -10px;
}
.partner .slick-slide {
  padding: 0 10px;
}
.partner .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 36px;
  height: 36px;
  background: #F1F1F1;
  color: #757575;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  z-index: 3;
}
.partner .slick-next {
  right: -50px;
}
.partner .slick-prev {
  left: -50px;
}
.partner-item img {
  width: 100%;
  object-fit: contain;
  height: 75px;
}

/*media-video-css*/
.video {
  padding: 50px 0;
}

.media-video {
  position: relative;
}
.media-video .play-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  font-size: 28px;
  color: #719A16;
}

.register-form {
  background: #fff;
  border: 1px solid #8DB049;
  border-radius: 5px;
  padding: 8px;
}
.register-form .title {
  text-align: center;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 8px;
}
.register-form .sub-title {
  text-align: center;
  color: #fff;
  font-weight: 500;
  margin-bottom: 12px;
}
.register-form form {
  background: #8DB049;
  border-radius: 5px;
  padding: 30px;
}
.register-form form .form-group {
  margin-bottom: 9px;
}
.register-form form input:focus {
  box-shadow: unset;
}
.register-form form .btn {
  margin-top: 30px;
  font-size: 18px;
  padding: 14px 32px;
  border-radius: 33px;
  background: linear-gradient(180deg, #FDE11A 0%, #FA7F05 100%);
  color: #fff;
  font-family: "SVN-Gilroy-Bold", sans-serif;
}

/* footer-css  */
.footer {
  /*margin-top:70px;*/
  background-color: #3A5A05;
  background-image: url("images/bg-footer.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;
  color: #fff;
}
.footer-col .title-ft {
  font-weight: 700;
  font-family: "SVN-Gilroy-Bold", sans-serif;
  text-transform: uppercase;
  margin-bottom: 17px;
}
.footer-col ul li {
  margin-bottom: 10px;
}
.footer a {
  color: #fff;
}

.footer-bottom {
  background: #3A5A05;
  padding: 25px 0 21px;
}
.footer-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom .content {
  color: #fff;
  font-size: 14px;
}
.footer-bottom .content p {
  margin-bottom: 0;
}
.footer-bottom .add-nots {
  position: relative;
}
.footer-bottom .add-nots .footer-notify {
  background: rgba(128, 162, 55, 0.8);
  border-radius: 10px;
  margin-top: 15px;
  max-width: 400px;
  padding: 10px 15px;
  position: relative;
  color: #fff;
}
.footer-bottom .add-nots .footer-notify::before {
  border: 8px solid;
  border-color: #fff0 #fff0 #80a237cc;
  bottom: 100%;
  content: "";
  height: 0;
  left: 10px;
  position: absolute;
  width: 0;
}

.footer-social {
  display: flex;
}
.footer-social a {
  color: #719A16 !important;
  width: 28px;
  height: 28px;
  background: #FFFFFF;
  border-radius: 5px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-breadcrumb {
  background: #fff;
  color: #697537;
}
.bg-breadcrumb a {
  color: #697537;
}
.bg-breadcrumb .breadcrumb-item.active {
  color: #697537;
}
.bg-breadcrumb .breadcrumb {
  background: #fff;
}

/* line-he-css  */
.contact {
  background: #f0f1f3;
  padding: 30px;
}
.contact .title {
  font-size: 1.9rem;
  text-transform: uppercase;
  color: #719A16;
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  position: relative;
}
.contact input, .contact textarea {
  background: #fff;
  height: 50px;
  border-radius: 0;
  border: 1px solid #dddddd;
  margin-bottom: 1.5rem;
  font-size: 0.8rem;
  color: #000;
}
.contact input:focus, .contact textarea:focus {
  box-shadow: none;
  border: 1px solid #84122a;
}
.contact button {
  height: 40px;
  border: none;
  padding: 0;
  width: 100px;
  border-radius: 4px;
  font-size: 1rem;
  background: #428dc5;
  color: #fff;
}
.contact textarea {
  height: 140px;
  margin-bottom: 0;
  resize: none;
}

.map {
  height: 450px;
}

/* product-detail-css  */
.nav-img img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1;
  border-radius: 50%;
}
.nav-img li {
  border-radius: 50%;
}
.nav-img .slick-current.slick-active li {
  border: 2px solid #FFA500;
}
.nav-img .slick-slide {
  padding: 3px 0;
}
.nav-img .slick-list.draggable {
  margin: -3px 0;
}
.nav-img > img:not(:first-child) {
  display: none;
}

.product-img-list {
  border: 1px solid #ccc;
}
.product-img-list img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: contain;
}
.product-img-list .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 80;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 24px;
}
.product-img-list .slick-next {
  right: 0px;
}
.product-img-list .slick-prev {
  left: 0px;
}
.product-img-list > .item:not(:first-child) {
  display: none;
}

.product-slides-nav {
  margin-top: 10px;
  /* .slick-list {
      margin: 0 -10px;
  }*/
  /*.nav-item {
          margin: 0 10px;
          position: relative;
      }
  */
}
.product-slides-nav .slick-slide {
  padding: 2px;
}
.product-slides-nav .slick-current.slick-active .nav-item {
  border: 1px solid #719A16;
}
.product-slides-nav .nav-item {
  position: relative;
  border: 1px solid #f3f3f3;
  padding: 10px;
}
.product-slides-nav .nav-item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /*background: rgba($color: #000000, $alpha: 0.7);*/
  z-index: 2;
  transition: all 0.5s;
}
.product-slides-nav .slick-current .nav-item:before {
  background: transparent;
}
.product-slides-nav img {
  object-fit: cover;
  aspect-ratio: 1;
  width: 100%;
}

.product-info .name-product {
  font-size: 22px;
  font-family: "SVN-Gilroy-Bold", sans-serif;
}
.product-info .buy-now {
  /*margin-top: 25px;*/
  margin-left: 10px;
  color: #fff;
  background: #719A16;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 71px;
  cursor: pointer;
}
.product-info .product-des {
  font-size: 14px;
}
.product-info .product-des ul {
  padding-left: 13px;
}

.media-feature {
  background: #f5f5f5;
  margin-bottom: 10px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
}
.media-feature i {
  font-size: 1.5rem;
  color: #719A16;
}
.media-feature .media-body {
  margin-left: 10px;
}
.media-feature .media-body .media-name {
  text-transform: uppercase;
  margin-bottom: 8px;
}
.media-feature .media-body p {
  font-size: 0.875rem;
  margin-bottom: 2px;
}
.media-feature .media-body p a {
  color: #4C503D;
}

.price-detail {
  margin-bottom: 20px;
}
.price-detail .content {
  display: flex;
  align-items: end;
}
.price-detail .new-price {
  font-size: 24px;
  font-family: "SVN-Gilroy-Bold", sans-serif;
}
.price-detail .old-price {
  color: #789;
  font-size: 17px;
  font-weight: 400;
  margin-left: 10px;
  text-decoration: line-through;
}

.product-info-rating .see-more span {
  color: #A0ACB8;
}
.product-info-rating .see-more a {
  color: #4D4DFF;
}

/*.product-detail-content,
.user-manual,
.product-review {
    .title {
        font-size: 20px;
        text-transform: uppercase;
        @include SVN-Gilroy-Bold;
    }
}*/
.product-review-list .owl-nav button {
  font-size: 36px !important;
  background: #fff !important;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-review-list .owl-nav .owl-prev {
  left: 0;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
}
.product-review-list .owl-nav .owl-next {
  right: 0;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
}

.product-review-item img {
  aspect-ratio: 16/9;
  object-fit: cover;
}
.product-review-item .name {
  font-size: 16px;
  font-weight: 400;
  padding: 7px 15px;
  text-align: center;
}

.product-detail-content .content-detail .content {
  height: 150px;
  overflow: hidden;
}
.product-detail-content .content-detail .content.active {
  height: auto;
  overflow: unset;
}

.see-open,
.see-close {
  display: none;
  cursor: pointer;
  color: #e67e22;
  font-family: "SVN-Gilroy-Bold", sans-serif;
}

.see-open.active {
  display: block;
}

.see-close.active {
  display: block;
}

.product-detail-content {
  padding: 25px 0;
  border-bottom: 1px solid #D9D9D9;
}

.user-manual, .product-ingredient {
  padding: 20px 0;
  border-bottom: 1px solid #D9D9D9;
}
.user-manual .collapsed .down, .product-ingredient .collapsed .down {
  display: block;
}
.user-manual .collapsed .up, .product-ingredient .collapsed .up {
  display: none;
}
.user-manual .down, .product-ingredient .down {
  display: none;
}
.user-manual .up, .product-ingredient .up {
  display: block;
}
.user-manual .title-global, .product-ingredient .title-global {
  position: relative;
}
.user-manual .title-global i, .product-ingredient .title-global i {
  position: absolute;
  top: 5px;
  right: 10px;
  color: #719A16;
}

.product-detail-content .content-detail,
.user-manual .content-detail {
  max-width: 800px;
  margin: 0 auto;
}

.formAddCart {
  display: inline-flex;
  background: #E67E22;
  border-radius: 48px;
  padding: 8px 20px 8px 9px;
}
.formAddCart input.nice-number {
  background: transparent;
}
.formAddCart .nice-number {
  background: #fff;
  border-radius: 25px;
  height: 32px;
}
.formAddCart .nice-number button {
  background: transparent;
  border: none;
  color: #8DB049;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  align-items: center;
  align-content: center;
}
.formAddCart .nice-number button:focus {
  box-shadow: unset;
}
.formAddCart .nice-number input {
  border: none;
}
.formAddCart .btn-order {
  margin-left: 10px;
  height: 100%;
  background: transparent;
  border: none;
  color: #fff;
  font-weight: 600;
}

/* reviews-customers-css  */
.reviews-customers {
  background: #FAFBF7;
  padding: 20px 0 50px;
}
.reviews-customers .title {
  font-size: 20px;
  font-weight: 500;
  /* @include SVN-Gilroy-Bold;*/
}
.reviews-customers .btn-comment {
  padding: 15px 30px;
  background: #719A16;
  border-radius: 5px;
  display: inline-block;
  margin-left: 40px;
}
.reviews-customers .btn-comment a {
  color: #fff;
}
.reviews-customers .top {
  display: flex;
  justify-content: space-between;
}
.reviews-customers .top .right {
  display: flex;
}
.reviews-customers .top .right .number {
  font-size: 20px;
  font-family: "SVN-Gilroy-Bold", sans-serif;
  color: #697537;
  margin-right: 20px;
}
.reviews-customers .top .right .reviews-star > span {
  color: #ADADAD;
  font-weight: 600;
}

.form-ratings .star.active i {
  color: #FEDA00;
}
.form-ratings .star i {
  color: #ddd;
}

.reviews-form .heading {
  color: #4c503d;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 10px;
  margin-top: 0;
  text-align: center;
  text-transform: capitalize;
  font-family: "SVN-Gilroy-Bold", sans-serif;
}
.reviews-form .sub-heading {
  color: #6a6a69;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 25px;
  margin-top: 0;
  text-align: center;
}

.reviews-form__product {
  margin-bottom: 20px;
}
.reviews-form__product .item {
  background: rgba(115, 129, 54, 0.05);
  border: 1px solid rgba(115, 129, 54, 0.15);
  border-radius: 7px;
  box-sizing: border-box;
  padding: 10px;
}
.reviews-form__product .wrapper {
  align-items: center;
  display: flex;
}
.reviews-form__product .thumbnail {
  height: 70px;
  width: 70px;
}
.reviews-form__product .content {
  flex: 1;
  padding: 0 15px;
}
.reviews-form__product .content h2 {
  color: #719A16;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  margin-bottom: 10px;
  text-transform: capitalize;
  width: 100%;
}

.grid-column {
  display: flex;
  margin-bottom: 20px;
}
.grid-column > label {
  width: 25%;
  color: #000000;
  font-weight: 700;
}
.grid-column > .form_text {
  width: 66.66%;
}
.grid-column #fileupload, .grid-column #fileavata {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.grid-column .btn-fileupload {
  cursor: pointer;
  align-items: center;
  background: rgba(115, 129, 54, 0.05);
  border: 2px dashed rgba(115, 129, 54, 0.2);
  border-radius: 7px;
  box-sizing: border-box;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: center;
  width: 70px;
  font-size: 45px;
}
.grid-column .alert-info {
  display: flex;
}
.grid-column #ListImages li {
  float: left;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: move;
}
.grid-column #ListImages li img {
  width: 66px;
  height: 66px;
  object-fit: cover;
  border: 1px #ccc solid;
}
.grid-column #ListImages li a {
  display: block;
  margin-top: 5px;
}
.grid-column #ListImages li a img {
  width: 20px;
  height: 20px;
}
.grid-column button {
  background: #719A16;
  border: 0;
  border-radius: 5px;
  color: #fff;
  padding: 15px 30px;
  display: inline-block;
}

#reviews-list .reviews-item:nth-last-child(2) {
  border-bottom: unset;
}

.reviews-item {
  padding: 30px 0;
  border-bottom: 1px solid #D9D9D9;
}
.reviews-item .body {
  display: flex;
  max-width: 870px;
  margin: 0 auto;
}
.reviews-item .stars .active {
  color: #FEDA00;
}
.reviews-item .stars {
  line-height: 1;
}
.reviews-item .stars i {
  font-size: 12px;
  color: #aaa;
}
.reviews-item .name {
  font-weight: 600;
}
.reviews-item .left {
  display: flex;
  color: #000000;
  width: 30%;
  flex-shrink: 0;
}
.reviews-item .left img {
  width: 57px;
  height: 57px;
  border-radius: 50%;
  margin-right: 12px;
}
.reviews-item .left .date {
  font-size: 0.875rem;
}
.reviews-item .list-img {
  display: flex;
  flex-wrap: wrap;
}
.reviews-item .list-img img {
  width: 40px;
  aspect-ratio: 1;
  margin-right: 10px;
  border-radius: 3px;
}
.reviews-item .content {
  color: #000;
  margin-bottom: 5px;
}

#contentPager {
  text-align: center;
}
#contentPager a {
  margin-right: 8px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #F3F6EB;
  color: #8DB049;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "SVN-Gilroy-Bold", sans-serif;
}
#contentPager .active a {
  border-color: unset !important;
  color: #fff;
  background: #8DB049;
}

/* page-product-css  */
.title-category {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.name-category {
  font-size: 18px;
  font-weight: 600;
  /*margin-bottom: 15px;*/
  margin-bottom: 0;
  text-transform: uppercase;
}

.page-product .title-category {
  padding: 0 15px 18px;
  margin-bottom: 20px;
  border-bottom: 1px solid #CCCCCC;
}
.page-product .drop-menu--category {
  padding-left: 15px;
  padding-right: 15px;
}
.page-product .drop-menu--category {
  position: relative;
  padding-bottom: 25px;
}
.page-product .drop-menu--category i {
  position: absolute;
  right: 0;
  z-index: 2;
  top: 0;
  color: #212121;
  font-size: 18px;
}
.page-product .drop-menu--category > div > a {
  color: #719A16;
  font-weight: 600;
}
.page-product .drop-menu--category .drop-child a {
  color: #8DB049;
  margin-top: 15px;
  display: block;
}

.breadcrumb {
  background: #fff;
}
.breadcrumb a {
  color: #719A16;
}
.breadcrumb li {
  color: #719A16 !important;
}

/* page-article-css  */
.bg-radius {
  border: 0.5px solid #ebebeb;
  background: #fff;
  padding: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.no-shadow {
  box-shadow: none;
}

.page-article .drop-menu {
  padding: 10px 0 10px;
  position: relative;
}
.page-article .drop-menu--article {
  padding: 5px 0 5px;
}
.page-article .drop-menu a {
  color: #000000;
  font-size: 0.875rem;
  padding-left: 0;
  display: flex;
  padding: 5px 15px 5px 0;
}
.page-article .drop-menu a:hover {
  color: #719A16;
}
.page-article .drop-menu--category {
  padding: 4px 0;
}
.page-article .drop-menu--category a {
  font-size: 0.9rem;
  font-weight: 700;
}
.page-article .drop-menu--category i {
  font-size: 1.3rem;
}
.page-article .title-category {
  border-bottom: 1px solid #CCCCCC;
}
.page-article .drop-icon {
  position: absolute;
  right: 0;
  top: 14px;
  font-size: 1rem;
  cursor: pointer;
}

.article-item {
  display: flex;
  margin-top: 24px;
}
.article-item img {
  width: 300px;
  height: 205px;
  object-fit: cover;
}
.article-item .content {
  padding-left: 10px;
  flex: 1;
}
.article-item .content .name a {
  color: #719A16;
  font-size: 1.2rem;
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  line-height: 1.2;
  height: 45px;
}
.article-item .content .date {
  display: block;
  margin-top: 10px;
}
.article-item .content .des {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  margin: 8px 0 10px;
}
.article-item .content .btn-style {
  background: #fff;
  border: 1px solid #719A16;
  border-radius: 20px;
  padding: 5px 25px;
}
.article-item .content .btn-style:hover {
  background: #719A16;
  color: #fff;
}

.content-detail p, .content-detail span {
  text-align: justify;
  font-size: 1rem;
}
.content-detail img {
  max-width: 100%;
  height: auto !important;
}
.content-detail h1, .content-detail h2 {
  font-size: 1.25rem;
}
.content-detail h3 {
  font-size: 1.125rem;
}
.content-detail h4, .content-detail h5, .content-detail h6 {
  font-size: 1rem;
}
.content-detail table {
  max-width: 100%;
}
.content-detail .sapo-detail {
  background: #edf8ff;
  border: 1px #2c317c solid;
  padding: 10px;
  margin: 20px 0;
}
.content-detail .subject {
  font-size: 1.4rem;
  line-height: 43px;
  font-weight: 700;
  position: relative;
  display: inline-block;
}
.content-detail .subject:before {
  position: absolute;
  content: "";
  background: #c4c4c4;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -7px;
}

.product-info__share {
  align-items: center;
}
.product-info__share li:first-child {
  padding-right: 15px;
}
.product-info__share li {
  padding-right: 3px;
  font-size: 0.875rem;
  font-weight: 500;
}
.product-info__share button {
  background: none;
  border: none;
}
.product-info__share button img {
  width: 30px !important;
}

/* shopping-cart-css  */
.border-radius {
  padding: 28px;
  border: 1px solid #E9ECEF;
  border-radius: 10px;
}

.title-cart {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 14px;
  border-bottom: 1px solid #E9ECEF;
  margin-bottom: 20px;
}

.list-cart .cart-item:last-child {
  border-bottom: 1px solid #E9ECEF;
}

.cart-item {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  position: relative;
}
.cart-item .name {
  padding-right: 50px;
  margin-bottom: 10px;
  color: #697537;
  font-weight: 600;
}
.cart-item img {
  margin-right: 15px;
  overflow: hidden;
  position: relative;
  width: 70px;
  aspect-ratio: 1;
}
.cart-item .content {
  width: 100%;
}
.cart-item .price-old {
  text-decoration: line-through;
  margin-right: 8px;
  /*font-size: 14px;*/
  color: #D1D6D1;
}
.cart-item .cart-price {
  font-weight: 600;
  font-size: 18px;
}
.cart-item .cart-price .price-new {
  color: #D35400;
  font-family: "SVN-Gilroy-Bold", sans-serif;
}
.cart-item .nice-number button {
  background: transparent;
  border: none;
  color: #8DB049;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
}
.cart-item .nice-number button:focus {
  box-shadow: unset;
}
.cart-item .nice-number {
  background: #fff;
  border-radius: 25px;
  border: 1px solid #ccc;
  height: 30px;
}
.cart-item input {
  border: none !important;
  font-weight: 700;
  height: 24px !important;
}
.cart-item .remove-product {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 14px;
}

.form-checkout button {
  background: #E67E22;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  padding: 15px 25px;
}
.form-checkout input {
  height: 40px;
}
.form-checkout input:focus {
  box-shadow: unset;
}

.checkout-content {
  padding-top: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid #E7EDD7;
}
.checkout-content > div {
  margin-bottom: 24px;
}

.keep-buying a {
  margin-top: 20px;
  padding: 12px 32px;
  background: #E7EDD7;
  border-radius: 22.5px;
  color: #697537;
  line-height: 1;
  display: inline-block;
}

.discount-from {
  background: #f4f5ef;
  padding: 20px;
  position: relative;
}
.discount-from input {
  background: #fff;
  border: 1px solid rgba(115, 129, 54, 0.2);
  border-radius: 5px;
  box-sizing: border-box;
  height: 42px;
  padding: 0 15px;
  width: 100%;
}
.discount-from button {
  align-items: center;
  background: #de8d1e;
  border: 0;
  border-radius: 5px;
  color: #fff;
  display: flex;
  font-size: 14px;
  font-weight: 700;
  height: 32px;
  justify-content: center;
  line-height: 16px;
  padding: 0 15px;
  position: absolute;
  right: 26px;
  top: 48%;
  transform: translate3d(0, -50%, 0);
}

.total-price-checkout strong {
  color: #D35400;
  font-weight: 600;
  font-family: "SVN-Gilroy-Bold", sans-serif;
  font-size: 24px;
}

.mobi-bar {
  display: none;
}

.scrollIcon {
  display: none;
}

.menu-mobi {
  display: none;
}

.search-mobi {
  display: none;
}

.la-cay-1 {
  background-image: url("images/la-cay1.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  position: absolute;
  right: 0;
  top: -20px;
}

.la-cay-2 {
  background-image: url("images/la-cay2.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  position: absolute;
  left: 0;
  bottom: -50px;
}

@media only screen and (max-width: 1280px) {
  .partner .slick-next {
    right: 0px;
  }

  .partner .slick-prev {
    left: 0px;
  }
}
@media only screen and (max-width: 992px) {
  .header-social {
    display: none;
  }

  .mobi-bar {
    display: block;
  }

  .hamburger {
    display: block;
  }
  .hamburger:hover {
    cursor: pointer;
  }
  .hamburger .line {
    width: 36px;
    height: 3px;
    background-color: #000;
    display: block;
    margin: 7px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .hamburger.is-active .line:nth-child(2) {
    opacity: 0;
  }
  .hamburger.is-active .line:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-12px) rotate(-45deg);
    -ms-transform: translateY(-12px) rotate(-45deg);
    -o-transform: translateY(-12px) rotate(-45deg);
    transform: translateY(-12px) rotate(-45deg);
  }

  .header-menu {
    position: relative;
  }
  .header-menu .header-pc {
    overflow-y: scroll;
  }
  .header-menu .header-pc .menu-list {
    flex-shrink: 0;
  }
  .header-menu .header-pc .category-article-menu {
    flex-shrink: 0;
    padding-right: 30px;
  }
  .header-menu .header-pc .menu-child {
    display: none;
  }

  .scrollIcon {
    display: flex;
    height: 100%;
    padding: 0 7px;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    align-items: center;
  }
  .scrollIcon-box {
    background: rgba(233, 236, 239, 0.6);
    border-radius: 50%;
    color: #4c503d;
    float: right;
    font-size: 14px;
    height: 25px;
    margin-top: 0px;
    text-align: center;
    width: 25px;
  }

  .menu-mobi {
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 300px;
    z-index: 99999;
    background: #fff;
    overflow-y: scroll;
    transition: all 0.3s ease-in;
    transform: translateX(-100%);
  }
  .menu-mobi.active {
    transform: translateX(0);
  }
  .menu-mobi > ul {
    padding: 15px;
  }
  .menu-mobi > ul > li {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 15.5px;
    justify-content: space-between;
  }
  .menu-mobi > ul > li:not(:last-child) {
    border-bottom: 1px solid #e9ecef;
  }
  .menu-mobi > ul > li > span {
    background: #f8f9fa;
    border-radius: 5px;
    height: 40px;
    justify-content: center;
    line-height: 40px;
    text-align: center;
    width: 40px;
  }
  .menu-mobi > ul > li > a {
    color: #567 !important;
    display: block;
    padding: 14px 0;
    width: calc(100% - 40px);
  }
  .menu-mobi > ul ul {
    padding-left: 20px;
    margin-left: 20px;
    width: 100%;
  }
  .menu-mobi > ul ul a {
    color: #567 !important;
    display: block;
    padding: 14px 0;
    width: calc(100% - 40px);
  }

  .close-menu-mobi {
    color: #678;
    cursor: pointer;
    font-size: 16px;
    padding: 6px 15px;
    position: fixed;
    left: 265px;
    text-shadow: 1px 1px 1px #e9ecef;
    top: 0;
  }

  .overlay-all {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 98;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in;
    transform: translateX(100%);
  }
  .overlay-all.active {
    transform: translateX(0);
  }
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }

  .row-mb-10 {
    margin-right: -10px;
    margin-left: -10px;
  }
  .row-mb-10 > .col,
.row-mb-10 > [class*=col-] {
    padding-right: 10px;
    padding-left: 10px;
  }

  .header-cart {
    margin: 0 15px;
  }

  .search-mobi {
    display: block;
  }
  .search-mobi i {
    font-size: 28px;
  }

  .header-cart i {
    font-size: 28px;
  }

  .header-search {
    position: fixed;
    width: 100%;
    left: 0;
    top: 135px;
    z-index: 80;
    transform: translateX(100%);
    transition: 0.3s all ease-in;
  }
  .header-search.active {
    transform: translateX(0);
  }

  .section-product {
    padding-top: 30px;
  }

  .banner-list .slick-dots {
    bottom: 0px;
  }
  .banner-list .slick-dots button {
    width: 10px;
    height: 10px;
  }

  .product-list .slick-list.draggable {
    margin: 0 -10px;
  }
  .product-list .slick-slide {
    padding: 0 10px;
  }
  .product-list .slick-next {
    right: 0;
  }
  .product-list .slick-prev {
    left: 0;
  }

  .product-item {
    padding: 20px 15px;
    height: calc(100% - 20px);
  }
  .product-item .body .new-price {
    font-size: 1rem;
  }
  .product-item .body .old-price {
    font-size: 13px;
  }

  .service-item {
    margin-bottom: 10px;
  }

  .product-info {
    margin-top: 20px;
  }
  .product-info .formAddCart {
    margin-bottom: 10px;
  }

  .reviews-customers .top {
    flex-wrap: wrap;
  }
  .reviews-customers .title {
    margin-bottom: 20px;
  }

  .register-form form .btn {
    padding: 10px 28px;
  }
}
@media only screen and (max-width: 767px) {
  .nav-img {
    margin-top: 20px;
  }
  .nav-img li {
    border-radius: 0;
  }
  .nav-img .slick-slide {
    padding: 0 5px;
  }
  .nav-img .slick-list.draggable {
    margin: 0 -5px;
  }
  .nav-img img {
    border-radius: 0;
  }
}
@media only screen and (max-width: 600px) {
  .article-item {
    display: block;
  }
  .article-item img {
    width: 100%;
  }
  .article-item .content {
    padding-top: 10px;
    padding-left: 0;
  }
  .article-item .content .name a {
    height: auto;
  }

  .service {
    background-size: auto;
    background-repeat: unset;
  }
}
@media only screen and (max-width: 500px) {
  .partner {
    padding-top: 30px;
  }
  .partner .slick-arrow {
    width: 25px;
    height: 25px;
    font-size: 20px;
  }
  .partner .slick-next {
    right: -10px;
  }
  .partner .slick-prev {
    left: -10px;
  }

  .news-item .body .des {
    height: 60px;
  }

  .la-cay-1,
.la-cay-2 {
    display: none;
  }

  .product-item {
    padding: 15px 10px;
    margin-bottom: 15px;
  }
  .product-item .tag-new,
.product-item .tag-discout {
    font-size: 12px;
  }

  .user-manual,
.product-ingredient {
    padding: 10px 0;
  }

  .reviews-customers {
    padding-bottom: 30px;
  }
  .reviews-customers .btn-comment {
    margin-left: 30px;
    padding: 15px;
  }

  .reviews-item {
    padding: 20px 0;
  }
  .reviews-item .left {
    width: auto;
    margin-bottom: 8px;
  }
  .reviews-item .left img {
    width: 48px;
    height: 48px;
    object-fit: cover;
  }
  .reviews-item .content {
    font-weight: 600;
  }
  .reviews-item .body {
    display: block;
  }

  .fancybox-content {
    padding: 25px;
  }

  .grid-column > .form_text {
    width: 73%;
  }
  .grid-column .btn-fileupload {
    width: 50px;
    height: 50px;
  }
  .grid-column #ListImages li img {
    width: 55px;
    height: 55px;
  }

  .contact {
    padding: 25px 15px;
  }
  .contact .title {
    font-size: 24px;
  }

  .border-radius {
    padding: 10px;
  }

  .cart-item img {
    width: 50px;
    height: 50px;
  }
  .cart-item .price-old,
.cart-item .price-new {
    font-size: 14px;
  }
  .cart-item .nice-number button {
    width: 20px;
    height: 20px;
  }

  .product-info .buy-now {
    margin-left: 0;
  }
}
/*
.chat-fix {
    position: fixed;
    right:0;
    bottom:0;
    display:flex;
    flex-direction:column;
}*/
.chat-zalo {
  left: 30px;
}

.chat-messenger,
.chat-zalo {
  position: fixed;
  z-index: 998 !important;
}

.chat-messenger {
  bottom: 20px;
  right: 20px;
}

.chat-zalo {
  bottom: 100px;
}

.suntory-alo-phone {
  background-color: transparent;
  cursor: pointer;
  height: 95px;
  position: fixed;
  left: 10px;
  bottom: 10px;
  transition: visibility 0.5s ease 0s;
  width: 120px;
  z-index: 998 !important;
}

.suntory-alo-ph-circle {
  animation: 1.2s ease-in-out 0s normal none infinite running suntory-alo-circle-anim;
  background-color: transparent;
  border: 2px solid rgba(30, 30, 30, 0.4);
  border-radius: 100%;
  height: 100px;
  left: 0px;
  opacity: 0.1;
  position: absolute;
  top: 0px;
  transform-origin: 50% 50% 0;
  transition: all 0.5s ease 0s;
  width: 100px;
}

.suntory-alo-ph-circle-fill {
  animation: 2.3s ease-in-out 0s normal none infinite running suntory-alo-circle-fill-anim;
  border: 2px solid transparent;
  border-radius: 100%;
  height: 70px;
  left: 15px;
  position: absolute;
  top: 15px;
  transform-origin: 50% 50% 0;
  transition: all 0.5s ease 0s;
  width: 70px;
}

.suntory-alo-ph-img-circle {
  border: 2px solid transparent;
  border-radius: 100%;
  height: 50px;
  left: 25px;
  opacity: 0.7;
  position: absolute;
  top: 25px;
  transform-origin: 50% 50% 0;
  width: 50px;
  text-align: center;
}

.suntory-alo-phone.suntory-alo-hover, .suntory-alo-phone:hover {
  opacity: 1;
}

.suntory-alo-phone.suntory-alo-active .suntory-alo-ph-circle {
  animation: 1.1s ease-in-out 0s normal none infinite running suntory-alo-circle-anim !important;
}

.suntory-alo-phone.suntory-alo-static .suntory-alo-ph-circle {
  animation: 2.2s ease-in-out 0s normal none infinite running suntory-alo-circle-anim !important;
}

.suntory-alo-phone.suntory-alo-hover .suntory-alo-ph-circle, .suntory-alo-phone:hover .suntory-alo-ph-circle {
  border-color: #D35400;
  opacity: 0.5;
}

.suntory-alo-phone.suntory-alo-green.suntory-alo-hover .suntory-alo-ph-circle, .suntory-alo-phone.suntory-alo-green:hover .suntory-alo-ph-circle {
  border-color: #D35400;
  opacity: 1;
}

.suntory-alo-phone.suntory-alo-green .suntory-alo-ph-circle {
  /*border-color: #bfebfc;*/
  border-color: #D35400;
  opacity: 1;
}

.suntory-alo-phone.suntory-alo-hover .suntory-alo-ph-circle-fill, .suntory-alo-phone:hover .suntory-alo-ph-circle-fill {
  /*background-color: rgba(0, 175, 242, 0.9)*/
  background-color: #D35400;
}

.suntory-alo-phone.suntory-alo-green.suntory-alo-hover .suntory-alo-ph-circle-fill, .suntory-alo-phone.suntory-alo-green:hover .suntory-alo-ph-circle-fill {
  background-color: #D35400;
}

.suntory-alo-phone.suntory-alo-green .suntory-alo-ph-circle-fill {
  /*background-color: rgba(0, 175, 242, 0.9)*/
  background-color: #D35400;
}

.suntory-alo-phone.suntory-alo-hover .suntory-alo-ph-img-circle, .suntory-alo-phone:hover .suntory-alo-ph-img-circle {
  /*background-color: #00aff2*/
  background-color: #D35400;
}

.suntory-alo-phone.suntory-alo-green.suntory-alo-hover .suntory-alo-ph-img-circle, .suntory-alo-phone.suntory-alo-green:hover .suntory-alo-ph-img-circle {
  background-color: #D35400;
}

.suntory-alo-phone.suntory-alo-green .suntory-alo-ph-img-circle {
  /*  background-color: #00aff2*/
  background-color: #D35400;
}

@keyframes suntory-alo-circle-anim {
  0% {
    opacity: 0.1;
    transform: rotate(0deg) scale(0.5) skew(1deg);
  }
  30% {
    opacity: 0.5;
    transform: rotate(0deg) scale(0.7) skew(1deg);
  }
  100% {
    opacity: 0.6;
    transform: rotate(0deg) scale(1) skew(1deg);
  }
}
@keyframes suntory-alo-circle-img-anim {
  0% {
    transform: rotate(0deg) scale(1) skew(1deg);
  }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    transform: rotate(0deg) scale(1) skew(1deg);
  }
  100% {
    transform: rotate(0deg) scale(1) skew(1deg);
  }
}
@keyframes suntory-alo-circle-fill-anim {
  0% {
    opacity: 0.2;
    transform: rotate(0deg) scale(0.7) skew(1deg);
  }
  50% {
    opacity: 0.2;
    transform: rotate(0deg) scale(1) skew(1deg);
  }
  100% {
    opacity: 0.2;
    transform: rotate(0deg) scale(0.7) skew(1deg);
  }
}
.suntory-alo-ph-img-circle i {
  animation: 1s ease-in-out 0s normal none infinite running suntory-alo-circle-img-anim;
  font-size: 30px;
  line-height: 50px;
  color: #fff;
}

#myBtn {
  position: fixed;
  right: 20px;
  bottom: 120px;
  z-index: 999;
  background: #719A16;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#myBtn i {
  color: #fff;
  font-size: 24px;
}

@keyframes suntory-alo-ring-ring {
  0% {
    transform: rotate(0deg) scale(1) skew(1deg);
  }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    transform: rotate(0deg) scale(1) skew(1deg);
  }
  100% {
    transform: rotate(0deg) scale(1) skew(1deg);
  }
}
@media only screen and (max-width: 768px) {
  .footer-bottom {
    padding-bottom: 80px;
  }

  .footer-bottom .container {
    flex-wrap: wrap;
  }

  .media-video .play-video {
    width: 50px;
    height: 50px;
    font-size: 20px;
  }

  #myBtn {
    bottom: 1rem;
    right: 50%;
    width: 40px;
    height: 40px;
    transform: translateX(50%);
  }
  #myBtn i {
    font-size: 16px;
  }

  /**/
  .new-slider .slick-prev,
.new-slider .slick-next {
    transform: none;
  }
}
