<connectionStrings>
  <add name="DataEntities" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Initial Catalog=vicopharma;MultipleActiveResultSets=True;persist security info=True;user id=sa;password=sa" />
  <!--<add name="DataEntities" providerName="System.Data.SqlClient" connectionString="Data Source=.\MSSQLSERVER2019;Initial Catalog=vicopharma;MultipleActiveResultSets=True;persist security info=True;user id=vicopharma;password=Yjc0kv@kI%t87Jbs" />-->
</connectionStrings>
<!--ephyta melinka@123-->